<div class="wrapper">
  <div class="container">
    <div class="timer">
    <span>
        {{ (timeFromStore | async).minutes }}
    </span>
      <span>:</span>
      <span>
        {{ (timeFromStore | async).seconds }}
    </span>
    </div>
    <div class="controls">
      <button class="button" (click)="onStart()">
        <img class="button__img" src="../assets/play.png" alt="play">
      </button>
      <button class="button" (click)="onPause()">
        <img class="button__img" src="../assets/pause.png" alt="pause">
      </button>
      <button class="button" (click)="onStop()">
        <img class="button__img" src="../assets/stop.png" alt="stop">
      </button>
    </div>
    <app-small-timer></app-small-timer>
  </div>
</div>
