.small-timer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  font-weight: bold;
  color: rgba(50, 50, 50, 0.9);
  border: 2px solid rgba(100, 100, 100, 0.4);
  padding: 10px;
  border-radius: 3px;
}
